@import url('https://fonts.googleapis.com/css?family=Archivo Black');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    position: relative;
}

a {
    text-decoration: none;
}

.banner {
    background-image: linear-gradient(#240025, #3F0241);
    height: 12vw;
    width: 100%;
    position: relative;
    display: flex;
}

.bg {
    width: 90%;
}

.logotipo {
    position: absolute;
    left: 63%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
}

.top-nav {
    background-color: #3F0241;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 5vw;
    width: 100%;
    z-index: 2;
}

.search-bar {
    position: absolute;
    right: 30%;
    height: 3vw;
}

.search-bar input[type="text"] {
    padding: 1vw;
    height: 1vw;
    width: 30vw;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.search-bar button[type="submit"] {
    position: absolute;
    background-color: white;
    height: 3vw;
    width: 35px;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.search-bar button[type="submit"]::before {
    content: "";
    background-image: url('img/lupa.png');
    background-size: contain;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.user {
    position: absolute;
    display: flex;
    height: 3vw;
    width: 85px;
    right: 13%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.user p {
    color: white;
    padding: 0 0.5vw 0;
    font-weight: bold;
}

.user img {
    height: 80%;
}

.cart {
    position: absolute;
    height: 3vw;
    width: 3.5vw;
    right: 7vw;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.cart::before {
    content: "";
    background-image: url('img/carrinho.png');
    background-size: contain;
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logomarca-index {
    position: absolute;
    height: 20vw;
    width: 20vw;
    padding-left: 7vw;
}

.logomarca-index img {
    position: sticky;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.logotipo-scrolled a img {
    position: sticky;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 14vw;
    height: auto;
}

.bottom-nav ul {
    font-family: 'Archivo Black';
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: right;
    background-color: #FDF280;
    width: 100%;
}

.bottom-nav li {
    height: 100%;
    line-height: 23px;
    align-items: center;
}

.bottom-nav li a {
    color: #370035;
    font-weight: bold;
    padding: 3px 10vw;
}

.bottom-nav li a:hover {
    background: #ffdf1b;
    color: white;
}

.row {
    position: relative;
}

.categories {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 7% 7% 20px;
}
  
.category {
    position: relative;
    text-align: center;
}

.category p {
    position: absolute;
    font-family: 'Archivo Black';
    color: white;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 2.5vw;
    z-index: 1;
    text-shadow: 2px 1px 20px black,
                -0.5px 0 #5f5f5f, 0 0.5px #5f5f5f,
                0.5px 0 #5f5f5f, 0 -0.5px #5f5f5f;
}

.category img {
    width: 20vw;
    height: auto;
    border-radius: 50px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    filter: brightness(80%);
}

.category:hover img {
    filter: brightness(40%);
    transform: scale(1.05);
}

h2 {
    padding: 15px 7vw 0;
    font-size: 1.2rem;
}

.products {
    display: flex;
    justify-content: space-between;
    padding: 0 7% 35px;
}
  
.product {
    position: relative;
    max-width: 20%;
    height: auto;
    max-height: 250px;
    border: 1px solid #582a57;
    border-radius: 30px;
    padding: 12px;
    text-align: center;
}

.product:hover {
    padding: 12px;
    border: 1px solid #754174;
    box-shadow:
        1px 1px 2px #3F0241,
        -1px -1px 2px #3F0241;
}

.product img {
    max-height: 55%;
    width: auto;
    max-width: 100%;
    margin-top: 5%;
}

.product p {
    color: black;
    text-align: left;
    font-size: 1rem;
    margin-top: 15%;
}
#twoline {
margin-top: 10%;
}

.product:hover p {
    text-decoration: underline;
    color: #3F0241;
}

.price {
    position: absolute;
    font-weight: bold;
    color: #3F0241;
    border-radius: 5px;
    bottom: 5%;
    text-align:left; ;
    font-size: 1.1rem;

}

.row img:hover {
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    height: 8%;
    top: 50%;
    left: 5%;
    transform: translate(-50% -50%);
}

.arrow-right {
    position: absolute;
    height: 8%;
    top: 50%;
    right: 5%;
    transform: translate(-50% -50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(#3F0241, #240025);
    color: white;
    padding: 20px 7% 30px;
}

.footer h3 {
    font-size: 1.1rem;
    font-weight: bolder;
}

.footer p {
    font-size: 0.9rem;
}

.footer a {
    color: white;
}

.footer p a:hover {
    font-size: 0.91rem;
    font-weight: bold;
}

.about {
    padding-left: 10px;
    width: 20%;
    height: auto;
}

.services {
    padding-left: 10px;
    width: 25%;
    height: auto;
}

.social-media {
    padding-left: 10px;
    width: 30%;
    height: auto;
}

.social-media-logos {
    display: flex;
}

.social-media-logos a img {
    padding-right: 10px;
    width: 30px;
    height: 30px;
}

.social-media-logos a:hover img {
    transform: scale(1.08);
}

.company {
    width: 30%;
    height: auto;
    text-align: right;
}

.company-logomark {
    max-width: 25%;
}

.company-logotype {
    max-width: 60%;
}

.logo {
    position: relative;
    display: flex;
    height: 100%;
    width: 40%;
    padding-left: 7vw;
}

.logomark {
    position: sticky;
    height: 100%;
    width: auto;
}

.logotype {
    position: absolute;
    padding-left: 2vw;
    width: 14vw;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.company p {
    font-size: 0.8rem;
}

/*MOBILE*/
@media screen and (max-width: 1500px) {
    .top-nav {
        width: 100%;
        height: 90px;
    }
}

@media screen {
    .top-nav {
        width: 100%;
        height: 90px;
    }
}
/* PÁGINA SUPORTE*/

    .container {
      width: 85%;
      margin:16px auto;
    }
    .title {
      font-size: 24px;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="email"] {
      width: 45%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #d3d3d3;
    }
    input[type="nome"]{
      width: 45%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #d3d3d3;
  }

    textarea {
      width: 65%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #d3d3d3;
    }
    button {
      padding: 8px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
      
    }
    .btn-send {
      background-color: #B2E3FF;
      color: black;
      margin-right: 10px;

      
    }
    .btn-cancel {
      background-color: #d3d3d3;
      color: black;
      margin-bottom: 92px;
      
    }
/* PÁGINA SUPORTE*/

/* PÁGINA PERFIL*/
.titleb{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
  }
.titlep{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.containerp{
    width: 90%;
    margin:30px ;
    margin-left: 60px;

}
.options {
  display: flex;
  margin-top: 10px;
  margin-left: 180px;
  padding-top:3px; 

}

.box {
  background-color: #F1F1F1;
  border-radius: 25px;
  padding: 6px;
  padding-top: 0px;
  width: 40%; 
  box-shadow: inset 0 0 20px #d6d6d6;
  border-width: medium;
  border-style: solid;
  border-color: #d6d6d6;
}

#boxsuporte{
    margin-left: 160px;
}
.box img{
    margin-top: 30px;
    margin-left: 20px;
    height: 60px;
}
.imgperfil{
    margin-top: 0px;
    margin-left: 20px;
    height: 50px; 
}
a.linkperfil:link{
    text-decoration: none;
    color: black;
}
a.linkperfil:visited{
    text-decoration: none;
    color: black;
}
a.linkperfil:hover{
    text-decoration: none;
    color: black;
}
a.linkperfil:active{
    text-decoration: none;
    color: black; 
}

/* PÁGINA PERFIL*/